<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="twitter.css"> 
		<title>Rack::Response</title>
	</head>
	<body>
		<div id="Cabecera">
	 		Bienvenido a nuestra aplicación que muestra sus últimos Tweets 
	 	</div>
	 	
	 	<div id="re10">
		 	<form action="/" method="post">
		   		<p>Introduzca su nombre en Twitter: </p><input type="text" name="firstname"  value="" autofocus>
		   		<p>Desea ver más. ¿Cuántos Tweets desea ver? : </p><input type="text" name="n" value="1">
		   		<input  type="submit" value="Submit" >
		 	</form>
	 	</div>
 		<div id="re">
			<div id="derecha">
				<p> Usuario <%= @name %></p>
			</div>
			<div id="izquierda">
				<p>Sus úlimos <%= @number %> Tweets :</p>
				<ol id="col">
				<% @todo_tweet.each do |i| %> 
					<li><%= i %><br></li>
				<% end %>
				</ol>
			</div>
		</div>
		
	</body>
</html>