<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="twitter.css"> 
		<title>Rack::Response</title>
	</head>
	<body>
		<div id="Cabecera">
	 		Bienvenido a nuestra aplicación que muestra sus últimos Tweets 
	 	</div>
	 	
	 	<div id="re1">
		 	<form action="/" method="post">
		   		<p>Introduzca su nombre en Twitter: </p><input type="text" name="firstname"  value="" autofocus>
		   		<p>Desea ver más. ¿Cuántos Tweets desea ver? : </p><input type="text" name="n" value="1">
		   		<input  type="submit" value="Submit" >
		 	</form>
	 	</div>
 		<div id="re">
			<div id="derecha">
				<% if @name == ''%>
					<p id="warning"> No se ha introducido usuario o es incorrecto </p>
				<%else%>
					<p> Usuario <%= @name %></p>
				<%end %>
					

			</div>
			<div id="izquierda">
				<% if @name != ''%>
					<p>Sus úlimos <%= @number %> Tweets :</p>
					<ol id="col">
						<% @todo_tweet.each do |i| %> 
							<li><%= i %><br></li>
						<% end %>
					</ol>
				<%end%>
			</div>
		</div>
		
	</body>
</html>